.cart-container {
  min-height: 90vh;
  position: relative;
}
.cart-item{
  padding: 12px 0px;
  border-bottom: 1px solid #ccc;
}
.cart-detail-item{
  display: flex;
  justify-content: space-between;
}
.checkout-action {
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 4px 0px;
}
.btn-checkout {
  width: 100%;
}

.category {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.category-data {
  display: flex;
  flex-direction: row;
}

.category-data > div > p {
  margin-bottom: 0;
}